form {
    display: flex;
    font-family: "Inter", sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: oklch(12.9% 0.042 264.695);
    width: 30vw;
    border-radius: 10px;
    gap: 5px;
    padding: 15px;
}

form>input {
    border: none;
    border-bottom: 1px solid white;
    border-radius: 3px;
    padding: 7px 10px 7px 10px;
    margin-bottom: 25px;
    outline: none;
}